.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    margin-top: 50px;
}

.linkClass{
    border: black 1px solid;
    padding: 3px;
    text-decoration: none;
}

.margin10{
    margin: 10px;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: left;
}

.counter{
    font-size: 30px;
    font-weight: bold;
}

.vote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margin-top50{
    margin-top: 30px
}

.margin-top10{
    margin-top: 10px
}

.paginator{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
